[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kitty/kitty-themes-official"]
	path = kitty/kitty-themes-official
	url = https://github.com/kovidgoyal/kitty-themes.git
